@import '../../assets/stylesheet/mixin';


.article {
    color: var(--gray);
    line-height: 1.6;
    margin-bottom: px2rem(40px);


    table,
    th,
    td {
        border: 2px solid var(--gray-light);
        border-collapse: collapse;
    }


    blockquote {
        display: block;
        margin: px2rem(8px) 0 0;
        border-left: 6px solid #eee;
        padding-left: .6rem;
        font-size: .7rem;

        p {
            color: var(--gray-light);
            text-indent: 0em;
        }
    }

    p {
        padding: px2rem(8px) 0;
        line-height: 1.8;
    }


    ol,
    ul {
        // padding-top: px2rem(4px);
        padding-left: 2em;

        p {
            text-indent: 0em;
        }
    }

    h1 {
        font-size: px2rem(20px);
        font-weight: 600;
        border-bottom: 3px solid #eee;
        padding: px2rem(12px) 0;
        margin-bottom: px2rem(20px);
    }

    h2 {
        font-size: px2rem(16px);
        font-weight: 600;
        border-bottom: 3px solid #eee;
        padding: px2rem(12px) 0;
    }

    h3,
    h4 {
        font-size: px2rem(14px);
        font-weight: 600;
    }

    img {
        display: block;
        max-width: px2rem(400px);
        margin: px2rem(8px) auto;
    }


    /**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

    code[class*="language-"],
    pre[class*="language-"] {
        color: black;
        background: none;
        text-shadow: 0 1px white;
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        font-size: .6rem;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;

        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;

        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
    }

    pre[class*="language-"]::-moz-selection,
    pre[class*="language-"] ::-moz-selection,
    code[class*="language-"]::-moz-selection,
    code[class*="language-"] ::-moz-selection {
        text-shadow: none;
        background: #b3d4fc;
    }

    pre[class*="language-"]::selection,
    pre[class*="language-"] ::selection,
    code[class*="language-"]::selection,
    code[class*="language-"] ::selection {
        text-shadow: none;
        background: #b3d4fc;
    }

    @media print {

        code[class*="language-"],
        pre[class*="language-"] {
            text-shadow: none;
        }
    }

    /* Code blocks */
    pre[class*="language-"] {
        padding: 1em;
        margin: .5em 0;
        overflow: auto;
    }

    :not(pre)>code[class*="language-"],
    pre[class*="language-"] {
        background: #f5f2f0;
    }

    /* Inline code */
    :not(pre)>code[class*="language-"] {
        padding: .1em;
        border-radius: .3em;
        white-space: normal;
    }

    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
        color: slategray;
    }

    .token.punctuation {
        color: #999;
    }

    .namespace {
        opacity: .7;
    }

    .token.property,
    .token.tag,
    .token.boolean,
    .token.number,
    .token.constant,
    .token.symbol,
    .token.deleted {
        color: #905;
    }

    .token.selector,
    .token.attr-name,
    .token.string,
    .token.char,
    .token.builtin,
    .token.inserted {
        color: #690;
    }

    .token.operator,
    .token.entity,
    .token.url,
    .language-css .token.string,
    .style .token.string {
        color: #9a6e3a;
        background: hsla(0, 0%, 100%, .5);
    }

    .token.atrule,
    .token.attr-value,
    .token.keyword {
        color: #07a;
    }

    .token.function,
    .token.class-name {
        color: #DD4A68;
    }

    .token.regex,
    .token.important,
    .token.variable {
        color: #e90;
    }

    .token.important,
    .token.bold {
        font-weight: bold;
    }

    .token.italic {
        font-style: italic;
    }

    .token.entity {
        cursor: help;
    }
}
